@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Profile.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>My Posts</h1>

@if (!Model.Any())
{
    <p>You have no posts yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Body</th>
                <th>Likes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.user.Name</td>
                    <td>@post.Category</td>
                    <td>@post.Body</td>
                    <td>@post.Likes</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-action="Create">Create New Post</a>
