@* This form will be used for editing an existing user *@

@model Profile.Models.User
@{
    ViewData["Title"] = "Edit User";
}

<form asp-action="Update" asp-controller="User" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" name="Age" value="@Model.Age" required>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label for="Roles" class="form-label">Roles</label>
        <select class="form-select" id="Roles" name="Role_Id" multiple required>
            <option disabled selected>Open this select menu</option>
            @foreach (var role in ViewBag.roles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
}